In [1]:
import numpy as np 
import pandas as pd
from IPython.display import display

In [2]:
raw_rental_data = pd.read_csv(r'C:\Users\herms\OneDrive\Documentos\AidaDocuments\York Online Computer Science Masters\BDA\SummativeAssignment\CleaningAndPreprocessingPython\housing_train.csv' )

In [3]:
raw_rental_data

,id,url,region,region_url,rent,type,sqfeet,bedrooms,bathrooms,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,demand,description,latitude,long,state
0,7039061606,https://bham.craigslist.org/apa/d/birmingham-h...,birmingham,https://bham.craigslist.org,1195,apartment,1908,3,2.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
1,7041970863,https://bham.craigslist.org/apa/d/birmingham-w...,birmingham,https://bham.craigslist.org,1120,apartment,1319,3,2.0,1,...,0,0,0,laundry on site,off-street parking,yes,Find Your Way to Haven Apartment Homes Come ho...,33.3755,-86.8045,al
2,7041966914,https://bham.craigslist.org/apa/d/birmingham-g...,birmingham,https://bham.craigslist.org,825,apartment,1133,1,1.5,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
3,7041966936,https://bham.craigslist.org/apa/d/birmingham-f...,birmingham,https://bham.craigslist.org,800,apartment,927,1,1.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
4,7041966888,https://bham.craigslist.org/apa/d/birmingham-2...,birmingham,https://bham.craigslist.org,785,apartment,1047,2,1.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36304,7048976860,https://cincinnati.craigslist.org/apa/d/west-c...,cincinnati,https://cincinnati.craigslist.org,999,apartment,1008,2,2.0,1,...,0,0,0,w/d hookups,off-street parking,yes,"Meadow Ridge Apartments, managed by HRG 5384 B...",39.3179,-84.4487,oh
36305,7048977589,https://cincinnati.craigslist.org/apa/d/middle...,cincinnati,https://cincinnati.craigslist.org,675,house,864,3,1.0,1,...,0,0,0,w/d hookups,street parking,yes,713 16th Ave 3BR/1BA (Middletown) ...,39.4999,-84.4141,oh
36306,7041416223,https://cincinnati.craigslist.org/apa/d/cincin...,cincinnati,https://cincinnati.craigslist.org,982,apartment,1220,2,2.0,1,...,0,0,0,w/d hookups,NaN,yes,Villages of Wildwoodhttps://govillagesofwildwo...,39.3191,-84.5039,oh
36307,7048976050,https://cincinnati.craigslist.org/apa/d/cincin...,cincinnati,https://cincinnati.craigslist.org,1655,apartment,1234,2,2.0,1,...,1,0,0,w/d in unit,NaN,yes,Glenbridge Manorshttps://goglenbridgemanors.co...,39.2692,-84.3307,oh
36308,7048975938,https://cincinnati.craigslist.org/apa/d/cincin...,cincinnati,https://cincinnati.craigslist.org,950,house,1600,3,1.0,0,...,0,0,0,w/d hookups,attached garage,yes,"Clean 3 bedroom house with covered rear porch,...",39.2145,-84.5313,oh

In [4]:
raw_rental_data.head()

,id,url,region,region_url,rent,type,sqfeet,bedrooms,bathrooms,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,demand,description,latitude,long,state
0,7039061606,https://bham.craigslist.org/apa/d/birmingham-h...,birmingham,https://bham.craigslist.org,1195,apartment,1908,3,2.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
1,7041970863,https://bham.craigslist.org/apa/d/birmingham-w...,birmingham,https://bham.craigslist.org,1120,apartment,1319,3,2.0,1,...,0,0,0,laundry on site,off-street parking,yes,Find Your Way to Haven Apartment Homes Come ho...,33.3755,-86.8045,al
2,7041966914,https://bham.craigslist.org/apa/d/birmingham-g...,birmingham,https://bham.craigslist.org,825,apartment,1133,1,1.5,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
3,7041966936,https://bham.craigslist.org/apa/d/birmingham-f...,birmingham,https://bham.craigslist.org,800,apartment,927,1,1.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
4,7041966888,https://bham.craigslist.org/apa/d/birmingham-2...,birmingham,https://bham.craigslist.org,785,apartment,1047,2,1.0,1,...,0,0,0,laundry on site,street parking,yes,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al

In [5]:
#rental_data_ver1 does not have columns: 'url', 'region_url' and 'description' 
rental_data_ver1 = raw_rental_data.drop(columns=['url', 'region_url', 'description'])

In [6]:
for column in rental_data_ver1.columns:
    print(f'\n************')
    print(f'\nValues by attribute {column}: ')
    print(rental_data_ver1[column].value_counts())
    print(f'\nValues in {column} that are NaN:')
    print(rental_data_ver1[column].isna().sum())

************

Values by attribute id:
7039061606    1
7041048843    1
7049243882    1
7046886383    1
7049243263    1
             ..
7045108982    1
7045102272    1
7049414444    1
7041016901    1
7048975938    1
Name: id, Length: 36309, dtype: int64

Values in id that are NaN:
0

************

Values by attribute region:
inland empire           2561
tucson                  2465
los angeles             2260
fresno / madera         2195
huntsville / decatur    2164
                        ...
texoma                     1
susanville                 1
east oregon                1
colorado springs           1
stillwater                 1
Name: region, Length: 83, dtype: int64

Values in region that are NaN:
0

************

Values by attribute rent:
850     429
995     403
1200    378
950     358
1250    335
       ...
921       1
5895      1
4234      1
936       1
982       1
Name: rent, Length: 2027, dtype: int64

Values in rent that are NaN:
0

************

Values by attribute type:
apartment        30374
house             3333
townhouse          993
duplex             571
condo              437
manufactured       375
cottage/cabin      125
loft                47
in-law              29
flat                24
land                 1
Name: type, dtype: int64

Values in type that are NaN:
0

************

Values by attribute sqfeet:
800     861
1000    846
900     677
1100    664
1050    605
       ...
109       1
1739      1
1474      1
1308      1
718       1
Name: sqfeet, Length: 1881, dtype: int64

Values in sqfeet that are NaN:
0

************

Values by attribute bedrooms:
2    16532
1    10785
3     6738
0     1032
4     1009
5      197
6       11
7        4
8        1
Name: bedrooms, dtype: int64

Values in bedrooms that are NaN:
0

************

Values by attribute bathrooms:
1.0    18037
2.0    14585
1.5     1659
2.5     1014
3.0      486
0.0      364
3.5       77
4.0       59
4.5       20
5.0        6
6.5        1
6.0        1
Name: bathrooms, dtype: int64

Values in bathrooms that are NaN:
0

************

Values by attribute cats_allowed:
1    25393
0    10916
Name: cats_allowed, dtype: int64

Values in cats_allowed that are NaN:
0

************

Values by attribute dogs_allowed:
1    25021
0    11288
Name: dogs_allowed, dtype: int64

Values in dogs_allowed that are NaN:
0

************

Values by attribute smoking_allowed:
1    26296
0    10013
Name: smoking_allowed, dtype: int64

Values in smoking_allowed that are NaN:
0

************

Values by attribute wheelchair_access:
0    33086
1     3223
Name: wheelchair_access, dtype: int64

Values in wheelchair_access that are NaN:
0

************

Values by attribute electric_vehicle_charge:
0    35692
1      617
Name: electric_vehicle_charge, dtype: int64

Values in electric_vehicle_charge that are NaN:
0

************

Values by attribute comes_furnished:
0    34663
1     1646
Name: comes_furnished, dtype: int64

Values in comes_furnished that are NaN:
0

************

Values by attribute laundry_options:
w/d in unit           13648
laundry on site        7504
w/d hookups            6041
laundry in bldg        3203
no laundry on site      249
Name: laundry_options, dtype: int64

Values in laundry_options that are NaN:
5664

************

Values by attribute parking_options:
off-street parking    9436
carport               8274
attached garage       3922
detached garage       2743
street parking        1037
no parking             128
valet parking           28
Name: parking_options, dtype: int64

Values in parking_options that are NaN:
10741

************

Values by attribute demand:
yes                                                            34678
no                                                               938
https://images.craigslist.org/00C0C_gY5moMhKQOH_600x450.jpg       31
https://images.craigslist.org/00X0X_459Esu0yVx5_600x450.jpg       13
https://images.craigslist.org/00Y0Y_ethkrBm4oRb_600x450.jpg       13
                                                               ...
https://images.craigslist.org/00o0o_5yCuw6YXNcp_600x450.jpg        1
https://images.craigslist.org/00Y0Y_3yTeeBjiB4L_600x450.jpg        1
https://images.craigslist.org/00a0a_5TqbvgkGs0E_600x450.jpg        1
https://images.craigslist.org/00u0u_cZKgepkwGVg_600x450.jpg        1
n0                                                                 1
Name: demand, Length: 394, dtype: int64

Values in demand that are NaN:
0

************

Values by attribute latitude:
46.8394    596
41.1379    337
34.6585    293
36.3597    272
30.6760    269
          ...
34.7231      1
34.7169      1
34.9563      1
35.1132      1
39.2145      1
Name: latitude, Length: 6923, dtype: int64

Values in latitude that are NaN:
107

************

Values by attribute long:
-100.7840    601
-81.5409     337
-86.5366     293
-119.6520    272
-88.1746     269
            ...
-92.3708       1
-92.2120       1
-92.4583       1
-92.5675       1
-84.5313       1
Name: long, Length: 5481, dtype: int64

Values in long that are NaN:
107

************

Values by attribute state:
ca    12643
az     6739
al     5566
nd     3428
ar     3147
oh     2554
ak     1690
nh      474
or       34
ok       27
co        7
Name: state, dtype: int64

Values in state that are NaN:
0

In [7]:
demand_values = rental_data_ver1['demand'].value_counts()

In [8]:
rubish_val = rental_data_ver1['demand'].str.startswith('https')
rubish_val

0        False
1        False
2        False
3        False
4        False
         ...
36304    False
36305    False
36306    False
36307    False
36308    False
Name: demand, Length: 36309, dtype: bool

In [9]:
#slashing the columns that have rubish in demand 
rental_data_ver1 = rental_data_ver1[~rubish_val]

In [10]:
clean_demand_values = rental_data_ver1['demand'].value_counts()

In [11]:
typos = (rental_data_ver1['demand'] == 'yes' ) | (rental_data_ver1['demand'] == 'no')

In [12]:
#visualize the typos in demand
rental_data_ver1[~typos]

,id,region,rent,type,sqfeet,bedrooms,bathrooms,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,demand,latitude,long,state
4596,7013576956,mobile,1650,house,2386,4,2.0,1,1,1,0,0,0,w/d hookups,attached garage,n,30.6197,-87.8895,al
5031,7045028793,montgomery,985,house,2010,4,2.0,1,1,1,1,0,1,w/d in unit,attached garage,no,32.3736,-86.1833,al
27868,7049449476,modesto,1575,house,2400,4,2.5,1,1,1,0,0,0,w/d hookups,attached garage,n0,37.6186,-120.6550,ca

In [13]:
demand_typos = rental_data_ver1[~typos]['demand']

In [14]:
rental_data_ver1['demand'] = rental_data_ver1['demand'].replace(demand_typos.values, 'no')

In [15]:
#checking that there are not typos anymore
rental_data_ver1[~((rental_data_ver1['demand'] == 'yes' ) | (rental_data_ver1['demand'] == 'no'))]

Empty DataFrame
Columns: [id, region, rent, type, sqfeet, bedrooms, bathrooms, cats_allowed, dogs_allowed, smoking_allowed, wheelchair_access, electric_vehicle_charge, comes_furnished, laundry_options, parking_options, demand, latitude, long, state]
Index: []

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Region

In [17]:
#Displaying values by attribute 'region'
display(rental_data_ver1['region'].value_counts())

inland empire               2561
los angeles                 2260
tucson                      2254
fresno / madera             2195
huntsville / decatur        2164
phoenix                     2061
little rock                 1732
mobile                      1730
bakersfield                 1644
akron / canton              1532
north dakota                1324
grand forks                 1309
modesto                     1265
anchorage / mat-su          1116
fayetteville                1018
flagstaff / sedona           935
hanford-corcoran             815
bismarck                     795
cincinnati                   762
montgomery                   752
monterey bay                 699
birmingham                   558
mohave county                478
new hampshire                474
fairbanks                    291
merced                       269
chico                        264
gold country                 256
yuma                         214
jonesboro                    159
prescott                     153
fort smith                   147
humboldt county              144
dothan                       119
tuscaloosa                   111
athens                       101
kenai peninsula               95
imperial county               92
texarkana                     89
southeast alaska              79
gadsden-anniston              67
show low                      66
florence / muscle shoals      65
mendocino county              57
chillicothe                   56
ashtabula                     39
palm springs                  28
san diego                     21
orange county                 17
reno / tahoe                  17
oklahoma city                 16
SF bay area                   16
portland                      14
northern panhandle            14
dayton / springfield          14
sacramento                    10
cleveland                      9
eugene                         7
boulder                        6
tulsa                          6
parkersburg-marietta           5
toledo                         4
lima / findlay                 4
columbus                       4
oregon coast                   4
tuscarawas co                  4
san luis obispo                3
mansfield                      3
medford-ashland                3
corvallis/albany               3
lawton                         3
zanesville / cambridge         3
bend                           2
ventura county                 2
stockton                       2
santa barbara                  2
redding                        2
texoma                         1
east oregon                    1
susanville                     1
colorado springs               1
stillwater                     1
Name: region, dtype: int64

Rent

In [44]:
#Displaying values by attribute 'rent'
rent_summary = rental_data_ver1['rent'].describe()
#display(rent_summary)
#display(rental_data_ver1['rent'].value_counts().sort_index())


#searching for outliers
rent_q1 = rent_summary.loc['25%']
rent_q3 = rent_summary.loc['75%']
rent_iqr = rent_q3 - rent_q1 

lower_rent_limit = rent_q1 - 1.5 * rent_iqr
upper_rent_limit = rent_q3 + 1.5 * rent_iqr
print(f'lower limit {lower_rent_limit} and upper {upper_rent_limit}')

lower limit -162.5 and upper 2417.5

In [30]:
rent_outliers_max = rental_data_ver1['rent']>upper_rent_limit

In [45]:
rent_outliers_min = (rental_data_ver1['rent']<=lower_rent_limit) & (rental_data_ver1['rent']>0)

In [46]:
rent_outliers = rent_outliers_max + rent_outliers_min

In [47]:
rental_data_ver1[rent_outliers]

,id,region,rent,type,sqfeet,bedrooms,bathrooms,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,demand,latitude,long,state
12054,7049666661,tucson,10108,apartment,1000,3,2.0,1,1,0,1,0,0,laundry on site,off-street parking,yes,32.1483,-110.999,az
20554,7046969320,fresno / madera,11000,in-law,500,1,1.0,0,0,0,0,0,1,laundry in bldg,off-street parking,yes,36.7387,-119.463,ca
21393,7046150777,gold country,12000,duplex,5000,5,4.5,1,1,1,0,0,0,w/d in unit,attached garage,yes,39.2019,-121.203,ca
22767,7050028818,inland empire,21701907,apartment,860,2,2.0,1,1,1,1,0,0,w/d in unit,NaN,yes,33.9829,-117.749,ca
25228,7050096743,los angeles,11000,house,4929,6,6.5,1,1,1,0,0,0,w/d in unit,attached garage,yes,34.1713,-118.411,ca
25268,7050082887,los angeles,18500,apartment,3221,4,4.0,1,1,1,1,1,1,w/d in unit,attached garage,no,34.1074,-118.365,ca
25548,7050048528,los angeles,18500,house,4000,5,5.0,1,1,0,1,0,1,laundry in bldg,attached garage,yes,34.1297,-118.422,ca
27029,7049931178,los angeles,10520,apartment,1699,2,0.0,1,1,1,0,0,0,NaN,NaN,yes,34.0287,-118.492,ca
27105,7043695788,los angeles,90292,apartment,995,1,0.0,1,1,1,0,0,0,w/d in unit,carport,yes,33.9762,-118.454,ca
29772,7039901154,monterey bay,12900,house,2700,5,2.5,0,0,1,0,0,0,laundry in bldg,off-street parking,no,36.2367,-121.780,ca